{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
<div class="container mb-4">
<h1>Récapitulatif de commande</h1>
    <div class="row">
        {% for article in articles %}
            <div class="card mx-1 mt-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{article.produit.nom}} - <span style="color: #CE2D4F ">{{article.produit.prix}}€</span></h5>
                    <p class="card-text">Quantité : {{article.quantite}} <b></b></p>
                    <p class="card-text">{{article.produit.restaurant.nom}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container col-5">
    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <i class="fab fa-cc-visa fa-3x me-2 mb-2"></i>
            <i class="fab fa-cc-mastercard mb-2 fa-3x me-2"></i>
        </div>
        <div class="ms-auto p-2 bd-highlight">
            <h2>Prix total :<span style="color: #CE2D4F ">{{prixTotal}}€</span></h2>
        </div>
    </div>
    <form method="post">
        <div class="form-floating mb-3">
            {% set numCarte = 4 ~ random(100000000000000, 999999999999999) %}
            <input type="number" class="form-control rounded-3" placeholder="Numéro de la carte" value="{{ numCarte }}" name='numCarte'>
            <label for="">Numéro de carte</label>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-6">
                {% set expirationDate = random(1, 12) %}
                {% if expirationDate < 10 %}
                    {% set expirationDate = "0"~ expirationDate %}
                {% endif %}
                {% set expirationDate = expirationDate ~ "/" ~ (('now' | date('y') | number_format  ) + random(1, 2)) %}
                <input type="text" class="form-control rounded-3" placeholder="MM/AA" value="{{ expirationDate }}" name='exp'>
                <label for="">Expiration</label>
            </div>
            <div class="form-floating mb-3 col">
                {% set crypto = random(100, 999) %}
                <input type="number" class="form-control rounded-3" placeholder="Cryptogramme" value="{{ crypto }}" name='crypto'>
                <label for="">Cryptogramme</label>
            </div>
        </div>
            {{ include('commande/_form.html.twig') }}
    </form>
</div>
    
{% endblock %}
