{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<div class="container">
    <div class="card mx-1 mt-3 col-12 my-5" >
        <div class="card-body">
            <h3 class="card-title text-center"> {{ restaurant.nom }}</h5>
            <p class="card-text text-center">{{ restaurant.adresse }}</p> 
                <p class="card-text text-center">{{ restaurant.tel }}</p> 
        </div>
    </div>    
    <div class="row">
        <div class="col-2">
            <h1>Produits</h1>
        </div>
        {# On vient vérifier si le user connecté est le proprietaire du restaurant #}
        {% set owner = 0 %}
        {% for users in restaurant.getUsers %}
            {% set owner = users.id %}     
        {% endfor %}
        {% if app.user %}
            {% if owner == app.user.id %}
            <div class="col-1">
                <a type="button" class="btn success" href="{{ path('produit_new', {'id': restaurant.id}) }}"><i class="fas fa-plus"></i></a>
            </div>
            {% endif %}
        {% endif %}
        
    </div>         
    <div class="row">
        {% for produit in produits %}
            <div class="card mx-1 mt-3 p-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ produit.nom }} - <span style="color: #CE2D4F ">{{ produit.prix }}€</span></h5></div>
                    <p class="card-text">{{ produit.description }}</p>
                    <div class="row">
                    {% if app.user %}
                        {% if owner == app.user.id %}
                        <div class="col-2">
                            <a type="button" class="btn success" href="{{ path('produit_edit', {'id': produit.id}) }}">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                        <div class="col-2">
                            {{ include('produit/_delete_form.html.twig') }}    
                        </div>
                        {% endif %}
                
                        {% if  app.user.roles == ['ROLE_USER'] %}       
                            <a class="dedcription-btn text-center" href="{{ path('commande_products_new', {'id': produit.id}) }}">
                                <span class="name-descripeion">Ajouter au panier</span>
                                <div class="btn-icon">
                                <i class="fas fa-shopping-bag"></i>
                                </div>
                            </a>
                        {% endif %}
                    {% else %}
                    <div class="alert alert-dark" role="alert">
                       Connectez vous pour ajouter au panier
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
