	<nav class="sticky-top navbar navbar-expand-md navbar-dark bg-dark pb-5" style="border-radius: 100% 0% 45% 55% / 0% 0% 100% 100%  ">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTop">
			<a class="navbar-brand d-flex justify-content-center" href="{{ path('acceuil')}}"> 
    		<span class="ms-3 fw-bold" style="color: #fffff; font-size:2rem">PSPSPS</span><span style="color: #CE2D4F; font-size:2rem">CHONKY</span> 
			</a>

			<div class="input-group mx-auto w-50 d-md-flex">
				<input type="search" id="searchbar" class="form-control rounded-pill" placeholder="Rechercher un produit" aria-label="Search" aria-describedby="search-addon"/>
			</div>
			
			<ul class="navbar-nav ms-md-auto justify-content-center flex-row">
				{% if app.user %}

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							
							<i class="text-light far fa-2x fa-user-circle" style=""></i>
						
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">

							{% if app.user.roles[0] == 'ROLE_ADMIN' %}
								<li>
									<a class="dropdown-item" href="">Administration</a>
								</li>
							{% endif %}

							<li>
								<a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">Mon compte</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ path('app_login')}}">Connexion</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ path('app_register')}}">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>